* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary-color: rgb(213, 125, 17);
    --text-color-light: ghostwhite;
    --text-color-dark: black;
    --primary-background: black;
    --info-card-background: rgb(56, 56, 56);
    --info-card-text: rgb(230, 205, 12);
    --accent-color: rgb(230, 205, 12);
    --link-color: rgb(250, 237, 138);
}


h1 {
    display: block;
    font-size: 1.5rem;
    text-align: left;
    color: var(--text-color-light);
    white-space: nowrap;
    padding: 10px 0 10px 20px;
    text-shadow: 2px 2px 3px var(--text-color-dark);
}


body {
	font-family: Roboto, sans-serif;
    background-color: var(--primary-background);
    /* background-image: url("../images/galaxy2.webp");
	background-repeat: no-repeat;
	background-position: center center;
  	background-color: var(--primary-background);
	background-size: cover; */
}


/* Mobile View ***************/
#menu {
	font-size: 1.2rem;
    position: absolute;
    top: 2px;
    right: 15px;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--primary-color);
	color: black;
    border: 2px solid black;
    border-radius: 15px;
}


#menu::before {
	content: "≡";
}


.active::before {
	content: "▶ ";
    color: var(--text-color-light);
}


.head-wrapper {
    display: flex;
}


nav {
    display: block;
	background-color: var(--primary-color);
    flex: 1 1 auto;
}


.navigation {
	list-style: none;
    text-shadow: 2px 2px 3px var(--text-color-dark);
    margin: 0 auto 0 auto;
}


.nav ul {
    display: block;
}


.navigation li {
	display: none;
    
}


.navigation a {
	display: block;
	padding: .75rem;
	text-align: center;
	text-decoration: none;
	color: var(--text-color-light);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1.25rem, 2vmin, 1.5rem);
}


.navigation a:hover, navigation a:active {
	color: var(--text-color-dark);
	background-color: var(--accent-color);
}


.show li {
	display: block;
    width: auto;
}


#menu.show::before {
	content: "X";
}




section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid var(--accent-color);
    padding: 1px;
    box-shadow: 0px 0px 4px 3px var(--accent-color);
    background-color: var(--info-card-background);
}

section button {
    margin: 5px auto;
    min-width: 150px;
    color: var(--text-color-light);
    background-color: var(--info-card-background);
    padding: .3rem;
    font-size: 1.2rem;
    border: 1px solid var(--accent-color);
}

h3 {
    margin: 5px auto;
    color: var(--text-color-light);
    padding: .3rem;
    font-size: 1.2rem;
    margin-left: 35px;
}


.pic-grid {

    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 650px);
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 1rem;
    
}

img {
    height: 330px;
}



.result-grid {
    display: grid;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 1rem;
    
}

.result-grid img {
    height: auto;
    width: 490px;
}

.result-grid p {
    text-align: justify;
    font-size: 1.3rem;
}

.result-grid .label {
    font-size: 1.1rem;
    margin: 0 5px 0 5px;
}

.result-grid h3 {
    margin: 5px auto;
    color: var(--text-color-light);
    padding: .3rem;
    font-size: 1.2rem;
}

.label {
    color: var(--info-card-text);
    font-size: .9rem;
}

p {
    font-size: 1rem;
    margin: 5px 0 2px 5px;
    color: var(--text-color-light);
}

.welcome {
  	background-color: #000000;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    box-sizing: border-box;
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.welcome

.lowerPic {
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    box-sizing: border-box;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.lowerPic img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.banner h3 {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
}

.intro, .ref-intro {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 1rem 2rem;
}

.ref-intro {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}

.res-link {
    font-size: 1.5rem;
    color: var(--link-color);
}


.intro p {
    color: var(--accent-color);
    text-shadow: 3px 3px 17px var(--primary-background), -3px -3px 17px var(--primary-background);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.ref-intro p {
    color: var(--accent-color);
    text-shadow: 3px 3px 17px var(--primary-background), -3px -3px 17px var(--primary-background);
    font-size: 1.5rem;
    padding-bottom: .5rem;
    /* margin: 0 auto; */
}

.makebold {
    font-weight: bold;
}

main {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.entry {
    display: grid;
    grid-template-columns: 175px 145px;
    row-gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.entry input[type="text"] {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    max-width: 8.5rem;
    padding: .3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.entry label {
    color: var(--text-color-light);
    font-size: 1.25rem;
    padding-left: 3rem;
}

.entry button {
    border: solid 1px var(--primary-color);
    background: linear-gradient(var(--primary-color), var(--accent-color), var(--primary-color));
    color: var(--text-color-dark);
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    max-width: 150px;
    max-height: 50px;
}

.entry input:required {
    border-bottom: solid 8px red;
}

.entry input:required:valid {
    border-bottom: solid 8px green;
}

#result {
    color: ghostwhite;
}


@media only screen and (max-width: 1810px) {

    .pic-grid{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 650px);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    }

    h2 {
        text-align: center;
        padding: .75rem;
        color: var(--text-color-light);
        text-shadow: 3px 3px 12px var(--accent-color), -3px -3px 12px var(--accent-color);
    }

    .result-grid img {
        height: auto;
        width: 475px;
    }

}


@media only screen and (max-width: 1430px) {

    .pic-grid{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 650px);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    }

    .result-grid img {
        height: auto;
        width: 425px;
    }

}




@media only screen and (max-width:1060px) {

    .pic-grid{
        display: grid;
        margin-top: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 650px);
        grid-gap: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        }

        .result-grid img {
            height: auto;
            width: 400px;
        }
}


@media only screen and (max-width:705px) {

    .pic-grid{
        display: grid;
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 650px);
        grid-gap: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        }

    .result-grid img {
        height: auto;
        width: 375px;
        }

    .result-grid .label {
        font-size: .9rem;
        margin: 0 5px 0 5px;
        }

    .result-grid p {
        text-align: justify;
        font-size: 1rem;
        }

}


footer {
    background-color: var(--primary-color);
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    padding: 15px;
}

footer p {
    color: var(--text-color-light);
    text-shadow: 1px 1px 4px var(--text-color-dark);
    font-size: 1em;
}

#resource {
    font-size: 1.2em;
    padding: 5px;
    color: var(--text-color-light);
}




