:root {
    --main-bkgd-color: rgba(52, 11, 11, 1);
    --card-bkgd-color: rgba(232, 150, 82, 1);
    --radio-btn-color: green;
    --submit-btn-color: rgb(238, 224, 73);
	--required-input-color: red;
	--valid-input-color: green;
	--optional-input-color: rgb(22, 22, 159);
    --black-font: black;
    --white-font: ghostwhite;
    --main-font: 'Acme', Arial, sans-serif;
}



* {
	margin: 0;
	padding: 0;
}

body {
	height: 105vh;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--main-font);
	background-color: var(--main-bkgd-color);
	
}

h1 {
	font-size: 1.5rem;
	color: var(--white-font);
	text-shadow: 3px 3px var(--black-font);
	margin-left: 8px;
}

main {
	margin: 1rem auto;
	border: 1px solid var(--black-font);
	border-radius: 7px;
	padding: 1rem;
	background-color: var(--card-bkgd-color);
	display: flex;
	flex-direction: column;
	width: 550px;
}


.fs1, .fs2, .fs3 {
	border: 1px solid var(--black-font);
	border-radius: 7px;
	padding: .5rem;
	margin-bottom: 5px;
}

.idate {
	padding-bottom: .25rem;
}


#pselect {
	display: block;
	padding: 0.5rem;
	width: 95%;
	margin: 5px auto;
	margin-bottom: 35px;
	border-radius: 7px;
}

#olabel {
	display: block;
}

input[type="radio"] {
	height: 25px;
	width: 25px;
	accent-color: var(--radio-btn-color);
}

.radio {
	float: left;
	text-align: center;
	margin-left: 33px;
	font-size: 1.3rem;
}



.features {
	display: flex;
	flex-direction: column;
}

.flabel {
	padding-bottom: 15px;
}


.fs2 input[type="checkbox"] {
	height: 20px;
	width: 20px;
	margin-left: 5px;
	margin-bottom: 15px;
}

.features label {
	padding-left: .5rem;
	padding-bottom: 10px;
}


.fs2 input[type="date"] {
	display: block;
	padding: 0.5rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 1rem;
	border-radius: 7px;
}


.info input[type="textarea"] {
	display: block;
	padding: 0.25rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}


#wreview {
	display: block;
	padding: 0.25rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: .85rem;
	border-radius: 7px;
}


.user input[type="text"] {
	display: block;
	padding: 0.5rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 1rem;
	border-radius: 7px;
}

.submit input[type="submit"] {
	display: block;
	padding: 0.5rem;
	width: 94.5%;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 1.5rem;
	background-color: var(--submit-btn-color);
	border-radius: 7px;
}


.wf1 input:required, select:required {
	border-left: solid 10px var(--required-input-color);
}

.wf1 input:required:valid, select:required:valid {
	border-left: solid 10px var(--valid-input-color);
}

.blue-text {
	color: var(--optional-input-color);
}


footer {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: var(--black-font);
	padding: .3rem;
	font-size: 1rem;
}

@media only screen and (max-width: 31em) {
	h1 {
		font-size: 2rem;
	}

	body {
		height: 150vh;
	}

	main {
		width: 400px;
	}

	.ratebtn {
		display: flex;
		flex-direction: column;
		margin-right: 2rem;
	}

	input[type="radio"] {
		height: 18px;
		width: 18px;
		margin-bottom: 35px;
	}

	label.radio {
		font-size: 1.3rem;
	}
	
}
