:root {
    --hibiscus-pink: rgba(255, 53, 188, 1);
    --lehua-flower-red: rgba(199, 36, 11, 1);
    --transparent-white: rgba(248,248,255, 0.85);
    --shadow-box-grey: rgb(85, 84, 84);
    --black-font: black;
    --white-font: ghostwhite;
    --main-font: 'Roboto', sans-serif;
}


body {
    font-family: var(--main-font);
}

header {
    text-align: center;
    font-size: 1.65rem;
    border-bottom: 25px solid var(--hibiscus-pink);
    background-color: var(--lehua-flower-red);
    color: var(--white-font);
}


h1 {
    margin-top: -8px;
    padding-top: .7rem;
}


main {
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr;
}


.hero img {
    margin: auto;
    display: block;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.stats {
    min-width: 390px;
}

.stats b {
    text-align: right;
    display: inline-block;
    width: 50%;
    position: relative;
    padding-right: 10px;
    color: var(--black-font);
}

.stats b::after {
    content: ":";
    position: absolute;
    right: 2px;
}

.stats li {
    list-style-type: none;
    color: var(--black-font);
    padding: .5rem 3rem .5rem .2rem;
    font-size: 1.1rem;
    white-space: nowrap;
}

.weather {
    min-width: 375px;
}



.weather b {
    text-align: right;
    display: inline-block;
    width: 40%;
    position: relative;
    padding-right: 10px;
    color: var(--black-font);
}

.weather b::after {
    content: ":";
    position: absolute;
    right: 2px;
}

.weather li {
    list-style-type: none;
    color: var(--black-font);
    padding: .5rem 3rem .5rem .2rem;
    font-size: 1.1rem;
    
}

.wxImage {
    margin-top: -20px;
}


footer {
    max-width: 1887px;
    background-color: var(--lehua-flower-red);
    padding: .5rem;
    margin-top: -5px;
}


footer p {
    color: var(--white-font);
    font-size: 1.2rem;
    text-align: center;
}



@media screen and (min-width: 900px) {

    header {
        background-color: var(--lehua-flower-red);
        color: var(--white-font);
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    section {
        box-shadow: 15px 15px 27px var(--shadow-box-grey);
    }

    .wxImage {
        display: none;
    }
    
    .wxicon::after {
        content: "⛅";
        margin-left: 45px;
        font-size: 2.25rem;
    }
    
    h2.wxicon {
        font-size: 2rem;
    }
    
    .data {
        position: absolute;
        top: 10rem;
        left: 1.5rem;
        background-color: var(--transparent-white);
        
    }
    
    .wx {
        position: absolute;
        max-width: 450px;
        bottom: 1.5rem;
        right: 1.5rem;
        background-color: var(--transparent-white);
        
    }
    
    h2 {
        color: var(--white-font);
        background-color: var(--hibiscus-pink);
        max-width: 350px;
        margin: 15px 0 0 -15px;
        padding: 1.25rem;
        font-size: 2rem;
        text-align: left;
    }
    

}